<%--=========================================================================== 
Header (top area). 
===========================================================================--%> 

<%@ include file="/WEB-INF/jspf/directive/page.jspf" %>
<%@ include file="/WEB-INF/jspf/directive/taglib.jspf" %>
<nav class="navbar bg-dark navbar-dark">
	<c:if test="${userType=='admin'}">
		<a class="navbar-brand m-2" href="controller?command=listPersonal">EHospital</a>
	</c:if>
	<c:if test="${userType=='patient'}">
		<a class="navbar-brand m-2" href="controller?command=patientDefault">EHospital</a>
	</c:if>
	<c:if test="${userType=='personal'}">
		<a class="navbar-brand m-2" href="controller?command=personalDefault">EHospital</a>
	</c:if>
	<c:if test="${empty userType}">
		<a class="navbar-brand m-2" href="/eHosp/">EHospital</a>
	</c:if>
	<c:choose>
	<c:when test="${not empty user}">
		<div class="form-inline float-right m-2">
			<div class="form-inline">
				<c:if test="${userType=='personal'}">
					<p class="text-white ml-3 my-2">
					<c:choose>
						<c:when test="${user.roleId=='1'}">
							<fmt:message key="jsp_entity_type.doctor"/>
						</c:when>
						<c:otherwise>
							<fmt:message key="jsp_entity_type.nurse"/>
						</c:otherwise>
					</c:choose>
					</p>
					<p class="text-white ml-3 my-2">
					<my:category categoryId="${user.categoryId}">${value}</my:category>
					</p>
				</c:if>
				<p class="text-white ml-3 my-2">
					<c:out value="${user.firstName} ${user.lastName}"/>
				</p>
				<a class="btn btn-light mb-3 mb-md-0 ml-md-3" href="controller?command=logout&localeToSet=${defaultLocale}">
					<fmt:message key="header_jspf.logout"/>
				</a>
			</div>
		</div>
	</c:when>
	<c:otherwise>
		<div class="form-inline float-right m-2">
			<form class="form-inline  m-1" action="controller" method="post">
				<input type="hidden" name="command" value="localeSet" />
				<select  class="form-control" name = "localeToSet" id="sel1" onchange="this.form.submit()">
				<c:if test="${not empty defaultLocale}">
					<option value=${defaultLocale}>${defaultLocale}</option>
				</c:if>
				<c:forEach var="localeName" items="${locales}">
					<c:if test="${defaultLocale != localeName}">
						<option value="${localeName}">${localeName}</option>
					</c:if>
				</c:forEach>
				</select>
				<a class="btn btn-light ml-3 my-1 px-4" href="/eHosp/">
					<fmt:message key="header_jspf.login"/>
				</a>
			</form>
		</div>
	</c:otherwise>
	</c:choose>
</nav>
